---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Default settings

{{ tffile "examples/resources/snyk_integration/resource_default.tf" }}

### Using custom configuration to update out-of-date dependencies

{{ tffile "examples/resources/snyk_integration/resource_with_pull_request_dependency_upgrade.tf" }}

### Using custom SCA configuration for new opened pull requests

{{ tffile "examples/resources/snyk_integration/resource_with_pull_request_sca.tf" }}

{{ .SchemaMarkdown | trimspace }}
