---
page_title: "Provider: Snyk"
description: |-
  The Snyk provider is used to interact with Snyk.
---

# {{ .ProviderShortName | title }} Provider

-> The provider is in **technical preview** and not ready for production usage.

Use the Snyk provider to interact with the resources supported by Snyk.
The provider needs to be configured with the proper credentials before
it can be used.

Use the navigation to the left to read about the available resources.

## Example Usage

### Using default region

{{ tffile "examples/provider/provider_with_default_region.tf" }}

### Using predefined region

{{ tffile "examples/provider/provider_with_predefined_region.tf" }}

### Using custom region

{{ tffile "examples/provider/provider_with_custom_region.tf" }}

{{ .SchemaMarkdown | trimspace }}
