name: Tests

on:
  pull_request:
    paths-ignore:
      - "CHANGELOG.md"
      - "README.md"
  push:
    branches: [ main ]
    paths-ignore:
      - "CHANGELOG.md"
      - "README.md"

permissions:
  contents: read

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      GOPRIVATE: github.com/pavel-snyk/snyk-sdk-go
      GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Lint source code
        run: |
          git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
          make tools lint

      - name: Run tests
        run: make test

  docs:
    name: documentation
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Install tools
        run: cd tools && go install github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs

      - name: Validate provider docs
        run: |
          make docs
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference after code generation. Run 'make docs' and commit."; exit 1)


#  # Run acceptance tests in a matrix with Terraform CLI versions
#  test:
#    name: Acceptance Tests
#    needs: build
#    runs-on: ubuntu-latest
#    timeout-minutes: 15
#    strategy:
#      fail-fast: false
#      matrix:
#        # list whatever Terraform versions here you would like to support
#        terraform:
#          - '1.0.*'
#          - '1.1.*'
#          - '1.2.*'
#    steps:
#      - uses: actions/checkout@v3
#      - uses: actions/setup-go@v3
#        with:
#          go-version-file: 'go.mod'
#          cache: true
#      - uses: hashicorp/setup-terraform@v2
#        with:
#          terraform_version: ${{ matrix.terraform }}
#          terraform_wrapper: false
#      - run: go mod download
#      - env:
#          TF_ACC: "1"
#        run: go test -v -cover ./internal/provider/
#        timeout-minutes: 10
